body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
  grid-template-rows: [inicioRow] 200px [linea2Row] 200px [finalRow];
  grid-gap: 5px;
  height: 100vh;
  /* grid-auto-flow: column;
  grid-auto-columns: 1fr; */
  grid-auto-flow: row;
  grid-auto-rows: 50px 100px;
}
.item {
  background-color: blanchedalmond;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(1) {
  grid-column-start: inicio;
  grid-column-end: destacado-end;
  grid-row-start: inicioRow;
  grid-row-end: finalRow;
  /* grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2; */
}

.item:nth-of-type(2) {
  grid-column-start: destacado-end;
  grid-column-end: destacado2-end;
  grid-row-start: inicioRow;
  grid-row-end: finalRow;
}

.item:nth-of-type(3) {
  grid-column-start: destacado2-end;
  grid-column-end: final;
}
